<div class="sample-wrapper">
    <igx-input-group type="search" class="search">
        <igx-prefix>
            <igx-icon>search</igx-icon>
        </igx-prefix>
        <input #search igxInput placeholder="Search by name" [(ngModel)]="searchCrypto">
        <igx-suffix *ngIf="search.value.length > 0" (click)="searchCrypto = null">
            <igx-icon>clear</igx-icon>
        </igx-suffix>
    </igx-input-group>

    <div class="list-sample">
        <igx-list [@listAnimation]="remoteData.length">
            <igx-list-item isHeader="true">Cryptocurrencies</igx-list-item>
            <igx-list-item #item *ngFor="let crypto of remoteData | igxFilter: filterCryptos;">
                <div class="crypto">
                    <div class="crypto__info">
                        <span class="crypto__item">

                            <div class="crypto__name">
                              <igx-avatar size="small" class="crypto__avatar" src="https://s2.coinmarketcap.com/static/img/coins/32x32/{{ crypto['id'] }}.png" roundShape="true"></igx-avatar>
                              <span>
                                  {{ crypto.name }}
                                <!--({{crypto.symbol }})-->
                              </span>
                            </div>

                            <div class="crypto__details">
                              <span class="crypto__price">${{ crypto['quotes.USD.price'] }}</span>

                              <span class="percent-style-{{ crypto['quotes.USD.percent_change_7d'] >= 0 ? 'up' : 'down'}}">
                                  {{ crypto['quotes.USD.percent_change_7d'] }} %
                              </span>

                              <igx-icon [color]="crypto['quotes.USD.percent_change_7d'] >= 0 ? 'green' : 'red'">
                                    {{ crypto['quotes.USD.percent_change_7d'] >= 0 ? 'arrow_drop_up' : 'arrow_drop_down'}}
                              </igx-icon>

                              <span class="li_item">(7d)</span>
                            </div>

                        </span>
                    </div>
                </div>
            </igx-list-item>
        </igx-list>
    </div>
</div>
