:host {
  display: block;
  padding: 16px;
  flex: initial;
}

.list-sample {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2),
  0 1px 1px 0 rgba(0, 0, 0, 0.14),
  0 2px 1px -1px rgba(0, 0, 0, 0.12);
  min-width: 500px;
  overflow-y: auto;
  max-height: calc(100vh - 198px);
  min-height: 300px;
  background: #fff;
  border-radius: 5px;
  margin-top: 8px;
}

.crypto {
  display: flex;
  align-items: center;
}

.crypto__info {
  flex: 1 0 0%;
}

.crypto__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  >* {
    margin-right: 8px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.crypto__avatar {
  margin-right: 8px;
}

.crypto__price,
.crypto__name {
  flex: 1;
}

