<div class="sample-wrapper">
    <div class="sample-content">
        <div *ngIf="!hideColumn; else elseBlock">
            <button id="refreshBtn" igxButton="raised" igxRipple (click)="refreshGrid()">
                <igx-icon>refresh</igx-icon>
            </button>
        </div>
        <ng-template #elseBlock>
            <button id="refreshFabBtn" igxButton="fab" igxRipple (click)="refreshGrid()">
                <igx-icon>refresh</igx-icon>
            </button>
        </ng-template>
        <igx-grid #grid1 [data]="remoteData" width="100%" height="555px" [allowFiltering]="true">
            <ng-template igxGroupByRow let-groupRow>
                <div class="igx-group-label">
                    <igx-icon fontSet="material" class="igx-group-label__icon">group_work</igx-icon>
                    <span class="igx-group-label__column-name">
                        {{ groupRow.value ? 'Positive Daily Scale' : 'Negative Daily Scale' }}:
                    </span>
                    <igx-badge [value]="groupRow.records ? groupRow.records.length : 0"
                        class='igx-group-label__count-badge'></igx-badge>
                </div>
            </ng-template>
            <igx-column field="fullName" header="Name" [filterable]="true">
                <ng-template igxCell let-cell="cell" let-item>
                    <span class="coin-logo">
                        <img src="{{ getCoinImage(cell.row.rowData['imageUrl']) }}" />
                    </span>
                    <span class="coin-title">{{ item }}</span>
                </ng-template>
            </igx-column>
            <igx-column field="price" filterable="true" dataType="number">
                <ng-template igxHeader let-column="column">
                    Price
                </ng-template>
                <ng-template igxCell let-item let-ri="rowIndex" let-column="column">
                    $ {{ item | number:'0.0-2' }}
                </ng-template>
            </igx-column>
            <igx-column field="supply" sortable="true" filterable="true" dataType="number"
                [hidden]="hideColumn">
                <ng-template igxHeader let-column="column">
                    Total supply
                </ng-template>
                <ng-template igxCell let-item let-ri="rowIndex" let-column="column">
                    <span> {{ item | number:'3.0-2' }}</span>
                </ng-template>
            </igx-column>
            <igx-column field="changePct24Hour" dataType="number" sortable="true" [hidden]="hideColumn"
                dataType="number" [groupable]="true" [cellClasses]="changes24h">
                <ng-template igxHeader let-column="column">
                    (24 h) %
                </ng-template>
                <ng-template igxCell let-item let-ri="rowIndex" let-column="column" dataType="number"
                    let-class="{{ item >= 0 ? 'up' : 'down'}}">
                    <span class="percent-style-{{ item >= 0 ? 'up' : 'down'}}"> {{ item | number:'0.0-2' }} %</span>
                </ng-template>
            </igx-column>
            <igx-column field="dailyScale" header="Daily Scale" dataType="boolean" [groupable]="true"
                [hidden]="true">
            </igx-column>
            <igx-column field="proofType" header="ProofType" dataType="string" [groupable]="true"
                [hidden]="false">
            </igx-column>
            <igx-column field="algorithm" header="Algorithm" dataType="string" [groupable]="true"
                [hidden]="false">
            </igx-column>
        </igx-grid>
    </div>
</div>