<div class="sample-wrapper">
    <div class="sample-content">
        <div *ngIf="!hideColumn; else elseBlock">
            <button id="refreshBtn" igxButton="raised" igxRipple (click)="refreshGrid()">
                <igx-icon>refresh</igx-icon>
            </button>
        </div>
        <ng-template #elseBlock>
            <button id="refreshFabBtn" igxButton="fab" igxRipple (click)="refreshGrid()">
                <igx-icon>refresh</igx-icon>
            </button>
        </ng-template>
        <igx-grid #grid1 [data]="remoteData" width="100%" height="555px">
            <!-- <igx-column field='rank' header='#'></igx-column> -->
            <igx-column field='name' header='Name' [filterable]="true" [width]="columnPercent">
                <ng-template igxCell let-cell="cell" let-item>
                    <img src="https://s2.coinmarketcap.com/static/img/coins/16x16/{{ cell.row.rowData.id }}.png" />
                    <span style="font-size: 1.5em; margin-left: 10px;">  {{ item }}</span>
                </ng-template>
            </igx-column>
            <igx-column field='quotes.USD.price' filterable="true" dataType="number" [width]="columnPercent">
                <ng-template igxHeader let-column="column">
                    Price
                </ng-template>
                <ng-template igxCell let-item let-ri="rowIndex" let-column="column">
                    $ {{ item | number:'0.0-2' }}
                </ng-template>
            </igx-column>
            <igx-column field='total_supply' sortable="true" filterable="true" dataType="number" [width]="'16%'" [hidden]="hideColumn">
                <ng-template igxHeader let-column="column">
                    Total supply
                </ng-template>
                <ng-template igxCell let-item let-ri="rowIndex" let-column="column">
                    <span> $ {{ item | number:'3.0-5' }}</span>
                </ng-template>
            </igx-column>
            <igx-column field='quotes.USD.percent_change_1h' sortable="true" [width]="'16%'" [hidden]="hideColumn">
                <ng-template igxHeader let-column="column">
                    (1 h) %
                </ng-template>
                <ng-template igxCell let-item let-ri="rowIndex" let-column="column">
                    <span class="percent-style-{{ item >= 0 ? 'up' : 'down'}}"> {{ item }} %</span>
                </ng-template>
            </igx-column>
            <igx-column field='quotes.USD.percent_change_24h' sortable="true" [width]="'16%'" [hidden]="hideColumn">
                <ng-template igxHeader let-column="column">
                    (24 h) %
                </ng-template>
                <ng-template igxCell let-item let-ri="rowIndex" let-column="column">
                    <span class="percent-style-{{ item >= 0 ? 'up' : 'down'}}"> {{ item }} %</span>
                </ng-template>
            </igx-column>
            <igx-column field='quotes.USD.percent_change_7d' sortable="true" [width]="columnPercent">
                <ng-template igxHeader let-column="column">
                    (7d) %
                </ng-template>
                <ng-template igxCell let-item let-ri="rowIndex" let-column="column">
                    <span class="percent-style-{{ item >= 0 ? 'up' : 'down'}}"> {{ item }} %</span>
                </ng-template>
            </igx-column>
        </igx-grid>
    </div>
</div>