
  #lock {
    width:40%;
    margin: 1.5em auto 4em auto;
    display:block;
  }

  #lockIcon {
    width: 9.5rem;
    height: 9.5rem;
    font-size: 9.5rem;
    color: rgb(24, 23, 23);
    margin: 0.2em auto 0.1em auto;
    display:block;
  }

  #fb {
    background:#3B5998 url('assets/images/facebook.svg') no-repeat 14px -5px;
    background-size: 47px;
    color:#fff;
  }

  #google {
    border: 1px solid #95989A;
    background: #fff  url('assets/images/google.svg') no-repeat 25px;
    background-size: 25px;
    color:rgb(0, 0, 0);
  }

  #email {
    background: #ECECEC  url('assets/images/email.svg') no-repeat 25px;
    background-size: 25px;
    color:rgb(0, 0, 0);
  }

  @media (max-width: 600px) {
    #page {
        padding:1em;
    }
    #toolbar {
        width:90%;
        margin-left: -45%;
    }
    #fb {
        background:#3B5998;
    }

    #google {
        background: #fff;
    }

    #email {
        background: #ECECEC;
    }
  }

  body {
    background:#E2E4E6;
    padding-top:4em;
  }


  .alc {
    text-align:center;
    display:block;
    margin: 15px 0;
    text-decoration: underline;
  }

  .error {
    background:#f1f0ef;
    padding:1em;
    width:100%;
    display:block;
    margin-bottom:20px;
  }

  @media (max-width: 600px) {
    body {
        padding-top:1.2em;
    }

    .form-container {
        padding:1.2em;
        width:90%;
        margin-left:-45%;
    }
    button {
        font-size:1em;
    }
  }