<div class="form-container">
  <igx-icon id="lockIcon" name="lock_open"></igx-icon>
  <span class="error" *ngIf="error">{{ error }}</span>

  <button igxButton="raised" igxRipple (click)="loginFb()" id="fb">Login With Facebook</button><br>
  <button igxButton="raised" igxRipple (click)="loginGoogle()" id="google">Login With Google</button>
  <button igxButton="raised" igxRipple routerLink="/login-email" id="email">Email</button>

  <a routerLink="/signup" routerLinkActive="active" class="alc">No account? <strong>Create one here</strong></a>
</div>