.form-container {
  position: absolute;
  max-width: 260px;
  margin: 0 auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 56px);
  min-height: 450px;
  align-items: center;
  justify-content: center;
}

#lock {
    width: 40%;
    margin: 1.5em auto 4em auto;
    display: block;
}

#lockIcon {
    width: 9.5rem;
    height: 9.5rem;
    font-size: 9.5rem;
    color: #E29C45;
    margin: 0.2em auto 0.1em auto;
    display: block;
}

.button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin:0 0 16px 0;

  &:last-of-type {
    margin-bottom: 0;
  }
}

#fb {
    background: #3B5998;
    color: #fff;
}

#google {
    border: 1px solid #95989A;
    background: #fff;
}

.s-logo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

#email {
    background: #ECECEC;
}


.alc {
    text-align: center;
    display: block;
    margin: 15px 0;
    text-decoration: underline;
    color: #E29C45
}

.error {
    background: #f1f0ef;
    padding: 1em;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
