<h4 class="sample-title">Blockfolio</h4>
<form class="input-group-form">
    <igx-input-group *ngFor="let blockItem of blockItems | async">
        <!-- <input igxInput name="fullName" type="text" [(ngModel)]="blockItem.coinName"  /> -->
        <label igxLabel>{{ blockItem.coinName }}</label>
        <label igxLabel>{{ blockItem.holdings }}</label>
    </igx-input-group>

    <ul>
        <li *ngFor="let blockItem of blockItems | async">
          {{ blockItem.coinName }} and {{ blockItem.holdings }}
        </li>
      </ul>
    <!-- <igx-input-group>
        <igx-prefix>+359</igx-prefix>
        <label igxLabel for="phone">Phone</label>
        <input igxInput name="phone" type="text" [(ngModel)]="user.phone" />
        <igx-suffix>
            <igx-icon name="phone"></igx-icon>
        </igx-suffix>
        <igx-hint position="start">Ex.: +359 888 123 456</igx-hint>
    </igx-input-group>
    <igx-input-group>
        <label igxLabel for="email">Email address</label>
        <input igxInput name="email" type="email" [(ngModel)]="user.email" required />
        <igx-suffix>
            <igx-icon name="email"></igx-icon>
        </igx-suffix>
    </igx-input-group>
    <div class="button-wrapper">
        <button igxButton="raised" igxRipple>Book</button>
    </div> -->
    <button igxButton="raised" igxRipple (click)="addItem()">Book</button>
</form>