:host {
  display: block;
  // padding: 16px;
  flex: inherit;
}

.list-sample {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  height: 100%;
}

igx-icon {
  cursor: pointer;
}

.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.crypto {
  display: flex;
  // flex: 1 0 240px;
  align-items: center;

  &__info {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 24px;
  }
}

.name {
  font-weight: 600;
}

.phone {
  font-size: 0.875em;
  line-height: 1;
}

.search {
  margin-bottom: 16px;
}

igx-tabs {
  width: 100%;
}

igx-tab-item {
  max-width: none !important;
  width: 50%;
}

igx-tabs-group {
  padding: 20px;
}