// :host {
    // display: block; // padding: 16px;
    // flex: inherit;
// }

#refreshBtn {
    margin-bottom: 21px;
}

igx-icon {
    cursor: pointer;
}

.addCoinForm {
    padding: 12px 24px 24px;

    igx-input-group + igx-input-group {
        margin-top: 24px;
    }
}
#addBtn {
    margin-left: 10px;
}

.sample-content {
    padding-left: 10px;
    justify-content: center;
    display:flex;
}