// Import the theme utilities first
@import '~igniteui-angular/lib/core/styles/themes/utilities';
@import '~igniteui-angular/lib/core/styles/themes/index';
@include igx-core();
@include igx-theme($default-palette);

@import 'mixins';

$dark-green-palette: igx-palette(#222, #72da67, $grays: #fff);
$app-palette: igx-palette(#8049ff, #E29C45);

// Background of selected cell 
$light-cell-selection: igx-grid-theme(
  $palette: $app-palette, 
  $cell-selected-background: igx-color($app-palette, 'primary', 200)
);

// Card button style
$new-icon-button-theme: igx-button-theme(
  $palette: $app-palette,
  $icon-color: #E29C45,
  $icon-hover-background: igx-color($app-palette, 'secondary', 100),
  $icon-hover-color: #E29C45
);

// Navigation drawer theme
$new-navdrawer-theme: igx-navdrawer-theme(
  $item-active-text-color: igx-color($dark-green-palette, 'secondary'),
  $item-active-icon-color: igx-color($dark-green-palette, 'secondary'),
  $schema: $dark-schema,
  $palette: $dark-green-palette
);

.dark-theme {
  background: #333 !important;
  display: block;

  @include igx-dark-theme($dark-green-palette);
  // Pass the theme to a to the `igx-navdrawer` mixin
  @include igx-navdrawer($new-navdrawer-theme);
  @include scrollbar-love(igx-color($dark-green-palette, 'primary'));

  .igx-grid__group-row--active {
    background: rgba(114, 218, 103, 0.19);

    &:Hover {
      background: rgba(114, 218, 103, 0.19);
    }
  }
  
  .igx-navbar {
    position: fixed;
  }

  .form-container {
    .alc {
      color: #72da67;
    }
    #lockIcon {
      color: #72da67;
    }
  }
  .chart-wrapper {
    background: transparent;
  }

  .list-sample {
    background: #424242;
  }
}

.light-theme {
    background: #f8f8f8;
    display: block;
    @include igx-theme($app-palette);
    @include igx-grid($light-cell-selection);
    @include scrollbar-love();

    .igx-card {
      // Pass the theme to a to the `igx-button` mixin
      @include igx-button($new-icon-button-theme);
    }

    .igx-navbar {
      position: fixed;
    }

    .sample-wrapper {
        #sText {
            color: #000;
        }
    }
    .form-container {
        #register-header {
            color: #000;
        }
    }
    .chart-wrapper {
        background: transparent;
        margin-left: 30px;
    }
    .list-sample {
        background: #fff;
    }
}
