<div class="main" igxLayout>
  <igx-nav-drawer #nav id="project-menu" [enableGestures]="true" width="280px" [pin]="false" pinThreshold="5000">
    <ng-template igxDrawer>
      <span igxDrawerItem [isHeader]="true">Menu</span>
      <span *ngFor="let route of topNavLinks" igxDrawerItem igxRipple routerLinkActive="igx-nav-drawer__item--active"
        routerLink="{{route.path}}">
        <span *ngIf="route.subItem">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <igx-icon fontSet="material">{{route.icon}}</igx-icon>
        <span>{{route.name}}</span>
      </span>
    </ng-template>
  </igx-nav-drawer>
  <div igxFlex>
    <igx-navbar title="Crypto Blockfolio App" actionButtonIcon="menu" (onAction)="nav.toggle()" igxFlex>
        <div class="theme-chooser">
            <div *ngIf ="darkTheme" class="theme-chooser__item--light"
            (click)="this.changeTheme()" title = "Light Theme">
            </div>
            <div *ngIf ="!darkTheme" class="theme-chooser__item--dark" title = "Dark Theme"
            (click)="this.changeTheme(true)">
            </div>
          </div>
      <span>
        <div class="account-container" *ngIf="afAuth.authState | async as user; else showLogin">
          <span *ngIf="innerWidth > 650">Hey {{ user.displayName !== null ? user.displayName : ''}}!</span>
          <span *ngIf="innerWidth < 650">Hey {{ user.displayName !== null ? user.displayName.split(' ')[0] : '' }}!</span>
          <button igxButton="raised" igxRipple (click)="logout()">Logout</button>
        </div>
        <ng-template #showLogin>
          <div><button igxButton="raised" igxRipple (click)="login()">Login</button></div>
        </ng-template>
      </span>
    </igx-navbar>
    <div class="content" igxLayout igxLayoutJustify="center">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>