// CSS Reset, comment out if not required or using a different module
@import '~minireset.css/minireset';
@import "~igniteui-angular/lib/core/styles/themes/index";
@import 'app/app-themes/themes.scss';

html, body, app-root {
  height: 100%;
}

body {
  overflow-y: scroll;
}

.content p {
  margin: 15px;
}

app-home {
  width: 100%;
}

app-block-grid {
  width: 100%;
}

app-portfolio {
  width: 100%;
}

app-portfolio {
  width: 100%;
}

app-statistics {
  width: 100%;
}

.sample-wrapper {
  width: inherit;
  position: relative;
  height: 100%;
  padding: 20px;
  background: transparent;
}

#lockIcon {
  width: 9.5rem;
  height: 9.5rem;
  font-size: 9.5rem;
  color: #E29C45;
  margin: 0.2em auto 0 auto;
  display: block;

  @media only screen and (max-width: 786px) {
    width: 50px;
    height: 50px;
    font-size: 50px;
  }
}

.sample-content {
  display: flex;
  flex-grow: 1;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0;
  -webkit-animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  -moz-animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.sample-column {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0 0%;
  align-content: flex-start;
  margin: 16px;
  min-width: 280px;
}

.sample-title {
  color: #0375be;
  margin-bottom: 24px;
}

.sample-title .light {
  font-weight: 400;
}

.sample-description {
  font-size: 14px;
  font-weight: normal;
  color: #717171;
}

.igx-card {
  flex-flow: row;
}

.igx-card igx-card-content {
  padding: 0;
}

.form-container {
  height: calc(100vh - 56px);
  display: flex;
  align-items: center;
}

igx-grid {
  .percent-style-up,
  .percent-style-down {
    position: relative;
    padding-right: 10px;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 4px;

      border-radius: 5px;
    }
  }
}

.percent-style-up {
  color: #3f9a47;
  &:after {
    background: #3f9a47;
  }
}

.percent-style-down {
  color: #aa2222;
  &:after {
    background: #aa2222;
  }
}

.igx-grid__td--selected.negative {
  background: #aa2222 !important;

  .percent-style-down {
    color: #fff !important;
  }

  .daily-change-negative {
    color: #fff !important;
  }
}

.igx-grid__td--selected.positive {
  background: #3f9a47 !important;

  .percent-style-up {
    color: #fff !important;
  }

  .daily-change-positive {
    color: #fff !important;
  }
}

.button {
  padding: 1em;
  width: 100%;
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 1em;
  height: 50px;
}


.signup-form-actions {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.alc {
  text-align: center;
  display: block;
  margin: 15px 0;
  text-decoration: underline;
  color: #8049ff
}

.sbPosition {
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  @media only screen and (min-width: 786px) {
   display: flex;
  }
}

@-webkit-keyframes color-change-2x {
  0% {
    background: #fdf8f0;
  }
  100% {
    background: #f6e7ec;
  }
}

@keyframes color-change-2x {
  0% {
    background: #fdf8f0;
  }
  100% {
    background: #f6e7ec;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 650px) {

  [class*=sample-content] {
    width: 600px;
  }

  [class*=user-name] {
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50%;
  }
}

@media only screen and (max-width: 639px) {
  .igx-navbar__title {
    max-width: 144px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

