/* You can add global styles to this file, and also import other style files */
/* See: https://www.infragistics.com/products/ignite-ui-angular/angular/components/themes.html */
@import "~igniteui-angular/lib/core/styles/themes/index";

$primary: #8049ff !default;
$secondary: #E29C45 !default;

// $secondary: rgb(255, 219, 88) !default;

$app-palette: igx-palette($primary, $secondary);

@include igx-core();
@include igx-theme($app-palette);

//$navbar-theme: igx-navbar-theme($background: #731963)
//@include igx-navbar($navbar-theme)

.content p {
  margin: 15px;
}

app-home {
  width: 100%;
}

app-block-grid {
  width: 100%;
}

app-portfolio {
  width: 100%;
}

app-portfolio {
  width: 100%;
}

.sample-wrapper {
  width: inherit;
  position: relative;
  height: 100%;
  margin: 15px auto;
  background: transparent;
}

.sample-content {
  display: flex;
  flex-grow: 1;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0;
  -webkit-animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  -moz-animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.sample-column {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0 25%;
  align-content: flex-start;
  margin: 16px;
  min-width: 280px;
}

.sample-title {
  color: #0375be;
  margin-bottom: 24px;
}

.sample-title .light {
  font-weight: 400;
}

.sample-description {
  font-size: 14px;
  font-weight: normal;
  color: #717171;
}

.igx-card
{
  flex-flow: row;
}

.igx-card igx-card-content {
  padding: 0em;
}

.percent-style-up {
  color: green;
}

.percent-style-down {
  color: red;
}

.form-container {
  background:white;
  padding-top:1.5em;
  width:100%;
  // position:fixed;
  // left:50%;
  // margin-left:-250px;
}

.button {
  padding:1em;
  width:100%;
  cursor:pointer;
  margin-bottom:15px;
  font-size:1em;
  height: 50px;
}

@-webkit-keyframes color-change-2x {
  0% {
      background: #fdf8f0;
  }
  100% {
      background: #f6e7ec;
  }
}

@keyframes color-change-2x {
  0% {
      background: #fdf8f0;
  }
  100% {
      background: #f6e7ec;
  }
}

@-webkit-keyframes fade-in {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes fade-in {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}


