a {
  color: #731963;
}

.links{
  text-align: center;
  padding: 0 35px;
}

#linksContainer {
  flex-flow: row wrap;
  display: flex;
  justify-content: center;
}

:host{
  text-align:center;
}

img {
  max-width:100%;
}

.card-wrapper {
  max-width: 260px;
  min-width: 260px;
}

.searchBox {
  width:100%;
  padding-left:15px;
  padding-right: 15px;
}

.sample-content {
  display:flex;
}