a {
  color: #731963;
}

.links{
  text-align: center;
  padding: 0 35px;
}

#linksContainer {
  flex-flow: row wrap;
  display: flex;
  justify-content: center;
}

:host{
  text-align:center;
}

img {
  max-width:100%;
}

.card-wrapper {
  max-width: 260px;
  min-width: 160px;
}

.percent-style-up {
  color: green;
}

.percent-style-down {
  color: red;
}