<!--The content below is only a placeholder and can be replaced.-->

<div *ngIf="cryptos">
    <div class="sample-wrapper">
        <igx-input-group type="search" class="searchBox">
            <input #input1 igxInput placeholder="Search by name" [(ngModel)]="search1" />
            <igx-prefix>
                <igx-icon>search</igx-icon>
            </igx-prefix>
            <igx-suffix *ngIf="input1.value.length > 0" (click)="clear(input1)">
                <igx-icon>clear</igx-icon>
            </igx-suffix>
        </igx-input-group>
        <div class="sample-content">
            <article class="sample-column card-wrapper" *ngFor="let crypto of cryptos | igxFilter: filterOptions" [@flyInOut]>
                <igx-card>
                    <igx-card-header class="igx-card-header">
                        <h3 class="igx-card-header__title">
                            <img src="{{ getCoinImage(crypto['RAW.USD.IMAGEURL']) }}" />
                            <span>{{ crypto['CoinInfo.FullName'] }} ({{ crypto['CoinInfo.Name'] }})</span>
                            <button igxButton="icon" igxRipple (click)="openChart($event, crypto['CoinInfo.Name'])">
                            <igx-icon fontSet="material">trending_up</igx-icon>
                            </button>
                        </h3>
                    </igx-card-header>

                    <igx-card-content class="igx-card-content">
                        <p class="igx-card-content__text"><strong>Price: ${{ crypto['RAW.USD.PRICE']  }} </strong>
                            <span class="percent-style-{{ crypto['RAW.USD.CHANGEPCTDAY'] >= 0 ? 'up' : 'down'}}">({{ crypto['RAW.USD.CHANGEPCTDAY'] | number: '0.0-2' }})</span> 24h %
                        </p>
                        <p class="igx-card-content__text">Rank: <strong>{{ crypto['CoinInfo.Rank'] }}</strong></p>
                        <p class="igx-card-content__text">Proof type: <strong>{{ crypto['CoinInfo.ProofType'] }}</strong></p>
                        <p class="igx-card-content__text">Market Cap: <strong>${{ crypto['RAW.USD.MKTCAP'] | number:'3.0-2' }}</strong></p>
                        <!-- <p class="igx-card-content__text">24h % change:
                            <span class="percent-style-{{ crypto['quotes.USD.percent_change_7d'] >= 0 ? 'up' : 'down'}}"><strong>({{ crypto['quotes.USD.percent_change_7d'] }})</strong>%</span>
                        </p> -->
                    </igx-card-content>
                </igx-card>
            </article>
        </div>
    </div>
</div>
