<div class="sample-wrapper">
  <div class="chart-wrapper">
    <span class="content-span">
      <igx-combo #combo [itemsMaxHeight]="255"
        [data]="coins" [displayKey]="'name'" [valueKey]="'symbol'"
        placeholder="Cryptocurrencies" searchPlaceholder="Search...">
      </igx-combo>
    </span>
    <igx-financial-chart
      [dataSource]="data"
      [isToolbarVisible]="true"
      [crosshairsAnnotationEnabled]="true"
      height="100%"
      width="100%"
      style="margin-top: 20px;"
      crosshairsDisplayMode="both"
      crosshairsAnnotationEnabled="true"
      chartType="candle"
      trendLineType="ExponentialFit"
      indicatorTypes="StochRSI"
      finalValueAnnotationsVisible="true" >
    </igx-financial-chart>
  </div>
</div>